<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="main.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  </head>
  <br><br>
  <body ng-app="myApp" ng-cloak>
    <div class="container form-group" ng-controller="M">
      <form novalidate class="simple-form">
        Name: <input type="text" class="form-control" ng-model="u.name" /><br /><br>
        Message: <input type="text" ng-keypress="newMessage($event, u)" class="form-control" ng-model="u.message" /><br /><br>
      </form>
      <button class='btn btn-danger' ng-click="update()"/>Delete All Messages</button>
    </div>
    <br>
    <div class="container">
      <chat title="AngChat" id="chat">
      </chat>
    </div>
    <script src="http://idea.selfup.me:3000/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Controllers -->
    <script src="app.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
