#change-color {
  border-radius: 0px;
}

#todo {
  border-radius: 0px;
}

.thumbnail {
  border-radius: 0px;
  background-color: #A1D490;
  border-width: medium;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
 }
